.fondoimagen {
    background-image: url(img/hawaii.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    /* Flexbox */

}
.opacity {
    background:rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
}
.cardimg {
        width: 100%!important;
        height: 300px!important;
        object-fit: cover;
}